* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.input-task {
  width: 20rem;
  height: 3rem;
  border: 1px solid black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-align-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.center-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gap-2 {
  gap: 2rem;
}
.h-style {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 17rem;
}
.todo-bg {
  background-color: yellow;
}
.inprogress-bg {
  background-color: greenyellow;
}
.done-bg {
  background-color: orange;
}
.task-box-style {
  border: 1px solid gray;
  padding-left: 1rem;
  border-radius: 5px;
}
